<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>938541925653-qdr62cqch2mh6n0lg6i41sqt75v04l6l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.938541925653-qdr62cqch2mh6n0lg6i41sqt75v04l6l</string>
	<key>API_KEY</key>
	<string>AIzaSyC_QzWd4dCyofax2UfwALuixslEH1PFnO8</string>
	<key>GCM_SENDER_ID</key>
	<string>938541925653</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.redditCloneProvider</string>
	<key>PROJECT_ID</key>
	<string>reddit-clone-fd913</string>
	<key>STORAGE_BUCKET</key>
	<string>reddit-clone-fd913.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:938541925653:ios:3f894eb601f83ff69e551c</string>
</dict>
</plist>